* {
  box-sizing: border-box;
}

body {
  font-family: "Lato", Helvetica;
  color: #303030;
  font-size: 1.2em;
  line-height: 1.6em;
  margin-bottom: 50px;
}

.highlight pre {
  overflow: auto;
  overflow-y: hidden;
  padding: 15px 20px;
}

pre {
  white-space: pre;
  word-wrap: normal;
  background-color: #f9f9f9;
}
  .container {
    margin: 0 20px;
  }

h1.post-title {
  margin-bottom: 0;
}

h1.post-title,
h1.post-title a {
  text-decoration: none;
  line-height: 1.2em;
  color: #000;
}

.post-date {
  font-size: 14px;
}

#next-page {
  float: right;
}

.button {
  width: 100px;
  height: 40px;
  line-height: 40px;
  background-color: #fff;
  border: solid 1px #aaa;
  text-decoration: none;
  color: #000;
  text-align:center;
  font-size: 16px;
  display: inline-block;
}

#header {
  height: 80px;
}

#header a {
  color: #000;
  text-decoration: none;

}

#header-icons a {
  font-size: 20px;
  display: inline-block;
  /*color: #669999;*/
  border-radius: 10px;
  text-align: center;
  padding: 10px 0;
  margin-left: 20px;
}

#header-icons a:hover {
  text-decoration: underline;
}

p {
  text-align: justify;
}

p code {
  color: red;
  border: solid 1px #ccc;
  padding: 2px 5px;
  text-align: left;
}

#footer {
  margin-top: 80px;
  font-size: 14px;
  clear: both;
  text-align: center;
}

@media (min-width: 750px) {
  .container {
    max-width: 790px;
    padding: 0 20px;
    margin: 0 auto;
  }
}

#archive-list, #recent-posts {
  margin: 0;
  padding: 0;
}

#recent-posts {
  list-style: none;
}

#archive-list li {
  list-style: none;
}

a,
a:hover,
a:visited,
a:active {
  color: #000;
  text-decoration: none;
}

.archive-date {
  color: #aaa;
}

.post a {
  text-decoration: underline;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
/*
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
*/
blockquote p {
  display: inline;
}

.post-image {
  text-align: center;
}

.post-image img {
  width: 100%;
  height: auto;
}

.credits {
  font-size: 14px;
}

.recent-post {
  border: solid 1px #e5e5e5;
  padding: 15px;
  border-radius: 10px;
  background-color: #e5e5e5;
  margin-bottom: 25px;
}

.recent-post .post-name {
  font-weight: bold;
}

.recent-post .post-excerpt {
  font-size: 14px;
  color: #666;
  margin-left: 15px;
}

.recent-post .post-excerpt h1,
.recent-post .post-excerpt h2,
.recent-post .post-excerpt h3 {
  display: none;
}

.PageNavigation {
  font-size: 14px;
  display: block;
  width: auto;
  overflow: hidden;
}

.PageNavigation a {
  display: block;
  width: 50%;
  float: left;
  margin: 1em 0;
}

.PageNavigation .next {
  text-align: right;
}

figure {
  margin: 0;
  padding: 8px;
}

pre.highlight {
  padding: 10px 20px;
  overflow: scroll;
}
