body { font-family: 'Open Sans'; font-size: 15px; color: #333; }
blockquote { background-color: #D9EDF7; padding: 8px 20px; border: solid 1px #ccc;}
p, li { line-height: 24px; text-align: justify; }
h2 { font-size: 20px; margin: 18px 0 0 0; padding: 0; }
h3 { font-size: 26px; color: #000; }

.container {width: 950px; margin:0 auto;}

#blog-title { font-family: 'Open Sans'; font-size: 32px; color: #333; 
              border-bottom: solid 1px #ccc; padding-bottom: 8px; }

#blog-title a { text-decoration: none; color: #333; }
#search-term { padding: 5px; float: right; margin-top: -30px; }

.post { margin-bottom: 20px; }
.post a { color: #333; text-decoration: underline; font-size: 17px; }
.post a:visited { text-decoration: none; }
.post a:hover { text-decoration: underline; }
.post span.post-date { font-size: 13px; }

#site-menu { list-style: none; margin: 0; padding: 0; }
#site-menu li { display: inline-block; margin-right: 18px; }
#site-menu li a { text-decoration : none; color: #333; font-size: 18px; }
#site-menu li a:hover,
#site-menu li a.active { color: #000; }