<!doctype html>
<html>
<head>
  <title>{{ page.title }}</title>
  <link rel="alternate" type="application/rss+xml" title="RSS Feed" href="/atom.xml" />
  <link rel="stylesheet" href="/assets/css/blog.css" />
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>

  <script>
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-1168469-4']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();    
  </script>
</head>
<body>
  <div class="header">
    <div class="logo">
      <h1><a href="/">BRAD TELLER</a></h1>
    </div>
    <div class="nav">
      <ul>
        <li><a href="/about/">about</a></li>
        <li><a href="/archive/">archive</a></li>
      </ul>
    </div>
  </div>

  <div class="container">
    {{ content }}
  </div>
</body>
</html>