<!doctype html>
<html>
<head>
  <title>{{ page.title }}</title>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-1168469-4']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();   
  </script>  
  <link rel="alternate" type="application/rss+xml" title="RSS Feed" href="/atom.xml" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/css/blog.css" />
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,400italic,600,700,800' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="container">
    <div id="header">
      <div class="content">
        <h1 id="site-title" class="inline col-half"><a href="/">brad teller</a></h1>

        <div class="inline col-half">
          <nav id="site-nav">
            <ul>
              <li><a href="/">home</a></li>
              <li><a href="/about">about</a></li>
              <li><a href="/archive">archive</a></li>
            </ul>
          </nav>

          <div class="social-links">
            <a href="https://twitter.com/bradteller"><img src="/assets/images/twitter-48.png" /></a>
            <a href="https://github.com/bteller"><img src="/assets/images/github-48.png" /></a>
            <a href="http://feeds.feedburner.com/bradteller"><img src="/assets/images/rss-48.png" /></a>
            <a href="mailto:bradley.teller@gmail.com"><img src="/assets/images/email-48.png" /></a>
          </div>
        </div>
      </div>
    </div>
    <div class="content">
      {{ content }}
    </div>
  </div>
</body>
</html>